@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");



.myProjects{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #fdfdfd;
  text-decoration-color: #d90368;
  text-decoration-thickness: 3.5px;
  margin: 50px;
  /* margin-bottom: 40px; */
  padding: 60px;
  padding-top: 150px;
  font-size: 40px;
  
}

.project-cards {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  padding: 0px;
  grid-gap: 50px 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-auto-rows: 1fr;
}

.each-card{
  border-radius: 20px;
  background-color: #212121;
  margin: 20px;
  padding:  20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.project-image {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.img-perform-here-landing {
  background: url(/src/Images/perform-here-landing.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}


.img-pixelgram {
  background: url(/src/Images/pixelgram.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.img-ai-shirt {
  background: url(/src/Images/ai-shirt.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.img-lin-reg-model {
  background: url(/src/Images/lin-reg-model.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.project-data{
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
}
.name {
  font-size: 35px;
  text-align: center;
  margin-bottom: -12px;
  color: #d90368;
}
.info {
  font-size: 20px;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo {
  color: #fdfdfd;
  background-color: #d90368;
  font-size: 20px;
  padding: 10px 20px 8px 20px;
  border-radius: 16px;
  border: none;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 1200px) {
  .project-cards {
    grid-gap: 50px;
  }

  .each-card {
    width: 100%;
    /* border-radius: 20px 10px 30px 5px; */
  }
}
@media only screen and (max-device-width: 1000px) {
  .each_card {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-device-width: 600px) {
  .each_card {
    width: 50%;
    height: 50%;
  }
}
