@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");


.project-box {
  width: 1300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mp {
  margin: 50px;
  margin-bottom: 40px;
  padding: 60px;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #e4005b;
  text-decoration-thickness: 3.5px;
  color: #fdfdfd;
}

.project-cont {
  display: flex;
  justify-content: center;
  background-color: #212121;
  margin: 50px 0 50px 0;
  border-radius: 17px;
  padding-top: 50px;
  box-shadow: 6px 6px 22px 0 #070707;

}

.project-card {
  margin-bottom: 50px;
  width: 90%;
  height: 420px;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
  
}

.project-cont:nth-child(even) .project-card {
  flex-direction: row;
}

.project-image {
  width: 65%;
  
  /* border: 3px solid #001323; */
  /* background-color: #e4005b; */
  position: relative;
}

.project-data {
  flex-direction: column;
  width: 35%;
  padding: 20px;
}

.img-perform-here-landing {
  background: url(/src/Images/perform-here-landing.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}


.img-pixelgram {
  background: url(/src/Images/pixelgram.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.img-ai-app {
  background: url(/src/Images/ai-app.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.img-ai-shirt {
  background: url(/src/Images/ai-shirt.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.img-lin-reg-model {
  background: url(/src/Images/lin-reg-model.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.name {
  font-size: 35px;
  text-align: center;
  margin-bottom: -12px;
  color: #e4005b;
}
.project-cont:nth-child(even) .name {
  /* text-align: left; */
}

.info {
  font-size: 20px;
  position: relative;
  padding: 23px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 20px;
  z-index: 1;

  color: #fdfdfd;
}

.project-skills {
  display: flex;
  /* justify-content: center; */
}

.project-cont:nth-child(even) .project-skills {
  display: flex;
  /* justify-content: center; */
  /* justify-content: flex-start; */
  
}
ul.project-skills {
  list-style-type: none;
  padding-left: 0px;
}
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  color: #fdfdfd;
  width: 100%;
  text-decoration: none;
}

.project-cont:nth-child(even) .skill {
  padding-right: 10px;
  padding-left: 0px;
}

.project-links {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}


.demo {
  color: #fdfdfd;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px 20px 8px 20px;
  /* border: 2.3px solid #e4005b; */
  font-size: 20px;
  background-color: #e4005b;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  /* margin-left: 13px; */
  border-radius: 16px;
  border: none;
  justify-content: center;

}

.project-cont:nth-child(even) .demo {
  margin-left: 0px;
  margin-right: 13px;
}

.demo:hover {
  color: #e4005b;
  background-color: #fdfdfd;
}

@media only screen and (max-device-width: 1000px) {
  .info {
    padding: 0px;
  }
}

@media only screen and (max-device-width: 700px) {
  .project-image {
    display: none !important;
  }
  .project-data {
    flex-direction: column;
    width: 70%;
  }
  .project-card {
    display: grid;
    margin-bottom: 10px;
    width: 100%;
    height: 40%;
    align-self: center;
  }
  .mp {
    padding: 0px;
    margin-bottom: 20px;
    color: #fdfdfd;
  }
  .info {
    margin-left: 0px;
    text-align: center;
    line-height: 23px;
  }
  .project-cont:nth-child(even) .info {
    margin-right: 0px;
    text-align: center;
    line-height: 23px;
  }

  .name {
    text-align: center;
  }
  .project-cont:nth-child(even) .name {
    text-align: center;
  }

  .project-skills {
    padding: 0;
    justify-content: center;
  }

  .project-cont:nth-child(even) .project-skills {
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  .project-links {
    justify-content: center;
    align-items: center;
  }

  .project-cont:nth-child(even) .project-links {
    justify-content: center;
  }

  .demo {
    margin: 5px;
  }

  .project-cont:nth-child(even) .demo {
    margin: 5px;
  }
}
