@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.skills-container{
    min-height: 50vh;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
}
.skills-box{
    padding-top: 20px;
    text-align: center;
}
.ms {
    margin: 50px;
    margin-bottom: 40px;
    padding: 60px;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #d90368;
    text-decoration-thickness: 3.5px;
    color: #fdfdfd;
  }
.skills-cont{
    display: inline-block;
    overflow-x: auto;
    /* white-space: nowrap; */
    justify-content: center;
}
.skills-card {
    /* display: inline-block; */
    min-height: 20px;
    min-width: 150px;
    margin: 22px;
    padding: 10px;
    background-color: #212121;
    border-radius: 35px;
    text-align: center;
    transition: transform 0.2s;
}

.skills-card:hover {
    transform: scale(1.1);
}
.skill-name{
    color: #fdfdfd;
    font-size: 20px;
}


