@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.skills-container{
    min-height: 50vh;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;

}
.skills-box{
    padding-top: 20px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; */
}
.ms {
    margin: 50px;
    margin-bottom: 40px;
    padding: 60px;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #e4005b;
    text-decoration-thickness: 3.5px;
    color: #fdfdfd;
  }

  .skills-map {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-cont{
    /* display: inline-block;
    overflow-x: auto;
    /* white-space: nowrap; */
}
.skills-card {
    /* display: inline-block; */
    height: 60px;
    min-width: 150px;
    margin: 19px;
    /* padding: 10px; */
    background-color: #212121;
    border-radius: 35px;
    text-align: center;
    transition: transform 0.2s;
}

.skills-card:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #e4005b;
}
.skill-name{
    color: #fdfdfd;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-self: center;
    padding: 0 15px 0 15px;
}


@media only screen and (max-device-width: 400px){
    .skills-card{
        /* height: 40px; */
        min-width: 10px;
        margin: 8px;
    }
}