@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap"); */

.header {
  position: relative;
  background-color: #151515;
  /* background: url(/src/Images/Hero.png); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 80px;
  height: 900px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.border-animation {
  width: 100px;
  height: 100px;
  border: 2px solid transparent; /* Start with a transparent border */
  animation: borderPulse 2s infinite;
}






















.gooey{
  background-image: linear-gradient(120deg, #e4005b23 0%, #e4005b48 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 870px; height: 800px;
  animation: morph 5s linear infinite; 
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
  position: absolute;
  margin-top: -50px;
}
.gooey:before,
.gooey:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  /* box-shadow: 5px 5px 89px #212121; */
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, #e4005b20 0%, #e4005b41 100%);
}

.gooey:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 45s;
}

.gooey:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);

  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }
}
















































@media only screen and (max-device-width: 1500px) {
  .header {
    top: 50px;
    height: 800px;
  }

  .header-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
  }
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  margin: 20px;
  z-index: 2;
}

.title h1 {
  color: #eaeaea;
  font-size: 80px;
  display: flex;
  align-items: baseline;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e,
    2px -2px #0d1b1e, 5px 5px #151515;
}

h2 {
  font-size: 30px;
}

@media only screen and (max-device-width: 800px) {
  .header {
    top: 80px;
    height: 500px;
  }

  .title h1 {
    font-size: 50px;

  }

  .header-box h2 {
    margin: 0px;
    font-size: 22px;
  }

  .gooey {
    width: 470px; height: 380px;
  }
}

@media only screen and (max-device-width: 450px) {
  .header {
    top: 80px;
    height: 450px;
  }

  .title {
    margin: 10px;
    margin-bottom: 12px;
  }

  .title h1 {
    font-size: 40px;
    margin: 0;
  }

  .header-box h2 {
    font-size: 25px;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  width: 600px;
  padding: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .contacts {
    width: 220px;
  }
}

.lnk {
  color: #fdfdfd;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 28px;
}

.icon1 {
  color: #fdfdfd;
  padding-right: 10px;
  padding-left: 20px;
  font-size: 28px;
  cursor: pointer;
}

.icon2 {
  color: #fdfdfd;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 28px;
  cursor: pointer;
}

.icon3 {
  color: #fdfdfd;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 28px;
  cursor: pointer;
}
.icon1:hover,
.icon2:hover,
.icon3:hover {
  color: #e15a97;
}

.line {
  height: 0px;
  width: 1px;
  border-bottom: 2.3px solid #fdfdfd;

  -webkit-animation: increase 5s;
  -moz-animation: increase 5s;
  -o-animation: increase 5s;
  animation: increase 5s;
  animation-fill-mode: forwards;
}

@keyframes increase {
  100% {
    width: 500px;
  }
}

@media only screen and (max-device-width: 550px) {
  .line {
    display: none;
  }
}




