.App {
  text-align: center;
  background-color: #151515;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: center;
  color: #fdfdfd;
}
/* .loading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #e4005b;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  font-size: 60px;
} */

.loading-section {
  /* height: 100vh;
  width: 100%; */

}

.loading-h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fdfdfd;
  font-size: 3em;
  text-transform: uppercase;
}

.w-span {
  display: inline-block;
  animation: animate 1.5s linear forwards;
}

@keyframes animate {
  0%
  {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
}

.w-span:nth-child(1){
  color: #e4005b;
  opacity: 0;
  animation-delay:0.25s;
}

.w-span:nth-child(2) {
  opacity: 0;
  animation-delay:0.5s;
}

.w-span:nth-child(3) {
  opacity: 0;
  animation-delay:0.75s;
}

.w-span:nth-child(4) {
  opacity: 0;
  animation-delay:1s;
}

.w-span:nth-child(5) {
  opacity: 0;
  animation-delay:1.25s;
}

.w-span:nth-child(6) {
  opacity: 0;
  animation-delay:1.5s;
}

.w-span:nth-child(7) {
  opacity: 0;
  animation-delay:1.75s;
}





































@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
